In [50]:
# Cargar librerías necesarias y definir el dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DF = pd.read_excel("Excel_Tailandia.xlsx")
df = DF.copy()
df

,id,name,description,neighbourhood_cleansed,latitude,longitude,host_id,host_name,host_since,host_location,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,review_scores_rating,review_scores_cleanliness,instant_bookable,reviews_per_month
0,27934,Nice room with superb city view,Our cool and comfortable one bedroom apartment...,Ratchathewi,13.759830,100.541340,120437,Nuttee,2010-05-08,"Bangkok, Thailand",...,65,1,0,1,30,49950.0,4.86,4.82,f,0.41
1,27979,"Easy going landlord,easy place",NaN,Bang Na,13.668180,100.616740,120541,Emy,2010-05-08,"Bangkok, Thailand",...,0,0,0,0,0,NaN,NaN,NaN,f,NaN
2,28745,modern-style apartment in Bangkok,A modern-style apartment situated in a cool ne...,Bang Kapi,13.752320,100.624020,123784,Familyroom,2010-05-12,"Bangkok, Thailand",...,0,0,0,0,0,NaN,NaN,NaN,f,NaN
3,47516,Beautiful waterfront house,NaN,Don Mueang,13.927260,100.585290,214456,Anuradha,2010-08-27,"New Delhi, India",...,0,0,0,0,0,0.0,NaN,NaN,f,NaN
4,48736,Condo with Chaopraya River View,at a size of 25sqm for your vacation in BKK.<b...,Rat Burana,13.685560,100.495350,222005,Athitaya,2010-09-03,"Bangkok, Thailand",...,1,0,0,0,0,0.0,5.00,5.00,f,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27543,1379672358263660032,"King Bed Room, 500m the Pink Line MRT,Near Air...",King bed room<br />2 shared bathrooms<br />Air...,Min Buri,13.806530,100.736748,679097032,Udomchai,2025-02-16,"Bangkok, Thailand",...,0,0,0,0,0,0.0,NaN,NaN,f,NaN
27544,1379715999009659904,2.æ›¼è°·ç‰¹æƒ å…¬å¯“å‡ºç§Ÿ/æœˆç§Ÿç‰¹æƒ /ä¸€å®¤...,"The project is located in Bangsue district, ju...",Bang Sue,13.818700,100.528080,653148266,Yangzi,2024-09-20,"Bangkok, Thailand",...,0,0,0,0,0,0.0,NaN,NaN,f,NaN
27545,1379720665926449920,2.æ›¼è°·ç‰¹æƒ å…¬å¯“å‡ºç§Ÿ/æœˆç§Ÿç‰¹æƒ /ä¸€å®¤...,"The project is located in Bangsue district, ju...",Bang Sue,13.818299,100.527187,653148266,Yangzi,2024-09-20,"Bangkok, Thailand",...,0,0,0,0,0,0.0,NaN,NaN,f,NaN
27546,1379724086373710080,2.æ›¼è°·ç‰¹æƒ å…¬å¯“å‡ºç§Ÿ/æœˆç§Ÿç‰¹æƒ /ä¸€å®¤...,"The project is located in Bangsue district, ju...",Bang Sue,13.817793,100.528221,653148266,Yangzi,2024-09-20,"Bangkok, Thailand",...,0,0,0,0,0,0.0,NaN,NaN,f,NaN
27547,1379757978013220096,2.æ›¼è°·ç‰¹æƒ å…¬å¯“å‡ºç§Ÿ/æœˆç§Ÿç‰¹æƒ /ä¸€å®¤...,"The project is located in Bangsue district, ju...",Bang Sue,13.817437,100.526098,653148266,Yangzi,2024-09-20,"Bangkok, Thailand",...,0,0,0,0,0,0.0,NaN,NaN,f,NaN

In [51]:
# Identificar que columnas tiene NAs
df.isnull().sum()

id                               0
name                             0
description                    775
neighbourhood_cleansed           0
latitude                         0
longitude                        0
host_id                          0
host_name                        3
host_since                       2
host_location                 6624
host_response_time            4066
host_response_rate            4066
host_acceptance_rate          4062
host_is_superhost             1319
host_listings_count              2
host_total_listings_count        2
host_has_profile_pic             2
host_identity_verified           2
neighbourhood                17849
property_type                    0
room_type                        0
accommodates                     0
bathrooms_text                 105
bedrooms                      1281
beds                          5445
price                         5390
minimum_nights                   0
maximum_nights                   0
minimum_minimum_nights           0
maximum_minimum_nights           0
minimum_maximum_nights           0
maximum_maximum_nights           0
minimum_nights_avg_ntm           0
maximum_nights_avg_ntm           0
has_availability              2233
availability_30                  0
availability_60                  0
availability_90                  0
availability_365                 0
calendar_last_scraped            0
number_of_reviews                0
number_of_reviews_ltm            0
number_of_reviews_l30d           0
number_of_reviews_ly             0
estimated_occupancy_l365d        0
estimated_revenue_l365d       5390
review_scores_rating          9466
review_scores_cleanliness     9467
instant_bookable                 0
reviews_per_month             9466
dtype: int64

In [34]:
# La columnas que presentan missing values son:  
# description                   774
# host_name                       3
# host_since                      2
# host_location                6624
# host_response_time           4066
# host_response_rate           4066
# host_acceptance_rate         4062
# host_is_superhost            1319
# host_listings_count             2
# host_total_listings_count       2
# host_has_profile_pic            2
# host_identity_verified          2
# neighbourhood                17849
# bathrooms_text                105
# bedrooms                     1281
# beds                         5445
# beds.1                       5445
# price                        5390
# has_availability             2233
# estimated_revenue_l365d      5390
# review_scores_rating         9466
# review_scores_cleanliness    9467
# reviews_per_month            9466

In [54]:
# Columna 'description' con 774 NAs
# Para tratar los NAs de esta columna es mejor sustituirlos por un string en específico 'No description provided' para poder ubicar que lugares no provieron descripción del lugar.
df.loc[:,'description'] = df['description'].fillna("No description provided")
print(df['description'].isnull().sum())

0

In [55]:
# Columna 'host_name' con 3 
# Para no eliminar los 3 registros de esta columna ya que es el nombre de los host se sustituye por un string en concreto 'Unknown' para identificar de una manera más rápida para ubicar que host tenemos que no tienen nombre.
df.loc[:,'host_name'] = df['host_name'].fillna("Unknown")
print(df['host_name'].isnull().sum())

0

In [56]:
# Columna 'host_since' con 2
# Se decidió eliminar los 2 NAs de esta columna ya que no se encontro ninguna relación o patrón en las fechas en las que los host se unierón, además de que elimnar solo 2 registros de la columna no influte de manera drástica en los valores de la columna.
df = df.dropna(subset=['host_since'])
print(df['host_since'].isnull().sum())

0

In [57]:
# Columna 'host_location' con 6624
# Ya que la información de esta variable es importante, sustituir los NAs por un string en específico 'Unknown' ayudará a conocer cuáles son los lugares que no cuentan con una locación en específico y no se podría poner el valor de moda que es Bangok, Thailand ya que la columna cuenta con diferentes respuestas dentro del país así como fuera del país.
df.loc[:, 'host_location'] = df['host_location'].fillna("Unknown")
print(df['host_location'].isnull().sum())

0

In [58]:
# Columna 'host_response_time' con 4066
# Para esta columna lo más ideal es sustituirlo por a few days or more
df.loc[:, 'host_response_time'] = df['host_response_time'].fillna('a few days or more')

In [59]:
# Columna 'host_response_rate' con 4066 ( Se utilizo la ayuda de IA para convertir el tipo de la columna  )
# 1. Quitar el % y convertir a número
df.loc[:, 'host_response_rate'] = (
    df['host_response_rate']
    .astype(str)                          # convierte todo a string
    .str.replace('%', '', regex=True)     # quita el símbolo %
    .replace('nan', np.nan)               # convierte 'nan' string en np.nan real
    .replace('', np.nan)                  # también cubre strings vacíos
    .astype(float)                        # convierte a float
)

# 2.valores nulos con la mediana
df.loc[:, 'host_response_rate'] = df['host_response_rate'].fillna(df['host_response_rate'].median())
print(df['host_response_rate'].isnull().sum())

0

In [60]:
# Columna 'host_acceptance_rate' con 4062  ( Se utilizo la ayuda de IA para convertir el tipo de la columna  )
# 1. Quitar el % y convertir a número
df.loc[:, 'host_acceptance_rate']= (
    df['host_acceptance_rate']
    .astype(str)                          # convierte todo a string
    .str.replace('%', '', regex=True)     # quita el símbolo %
    .replace('nan', np.nan)               # convierte 'nan' string en np.nan real
    .replace('', np.nan)                  # también cubre strings vacíos
    .astype(float)                        # convierte a float
)

# 2. valores nulos con la mediana
df.loc[:, 'host_acceptance_rate'] = df['host_acceptance_rate'].fillna(df['host_acceptance_rate'].median())
print(df['host_acceptance_rate'].isnull().sum())

0

In [61]:
# Columna 'host_is_superhost' con 1319
df.loc[:, 'host_is_superhost']= df['host_is_superhost'].fillna('f')

print(df['host_is_superhost'].isnull().sum())

0

In [62]:
# Columnas 'host_total_listings_count' con  2          
df.loc[:, 'host_listings_count'] = df['host_listings_count'].fillna(0)

print(df['host_listings_count'].isnull().sum())

0

In [63]:
# La columnas 'host_has_profile_pic' con 2, 'host_identity_verified' con 2 son categoricas, utilizando True or False como t y f.
# La solución más optima para tratar esto NAs es a través de un string en concreto que sería 'f' ya que no impactaría de forma negativa en los valores de la columna y que lo más probable es que esos 2 registros no cuenten con la información de las variables.
df.loc[:, 'host_has_profile_pic'] = df['host_has_profile_pic'].fillna("f")
df.loc[:, 'host_has_profile_pic'] = df['host_identity_verified'].fillna("f")

print(df['host_has_profile_pic'].isnull().sum())
print(df['host_identity_verified'].isnull().sum())

0
0

In [64]:
df['bathrooms_text'].unique()

array(['1.5 baths', '1 bath', nan, '1 private bath', '3.5 baths',
       '2 baths', '4 baths', '1 shared bath', '0 baths', '3 baths',
       '0 shared baths', '2.5 baths', '1.5 shared baths', 'Half-bath',
       '3 shared baths', '6 baths', '5 baths', '2 shared baths',
       '5.5 baths', '6.5 baths', '4.5 baths', '10 shared baths',
       '8 shared baths', '4 shared baths', '8 baths', 'Shared half-bath',
       '2.5 shared baths', '7 baths', '4.5 shared baths',
       '6 shared baths', '5 shared baths', '3.5 shared baths',
       '20 shared baths', '7.5 baths', '5.5 shared baths', '8.5 baths',
       '6.5 shared baths', 'Private half-bath', '9.5 baths',
       '7 shared baths', '23 baths', '9 baths', '12 shared baths',
       '10 baths', '40 baths', '9 shared baths', '30 baths',
       '15 shared baths', '11 baths', '39 baths', '10.5 shared baths',
       '12.5 baths', '47 baths', '28 baths', '15 baths', '49 baths',
       '16 baths', '12 baths', '16 shared baths', '9.5 shared baths',
       '14 shared baths', '7.5 shared baths', '13 shared baths',
       '20 baths', '8.5 shared baths', '11.5 baths', '50 baths'],
      dtype=object)

In [65]:
# Columna 'bathrooms_text' con 105
# Lo mejor para esta columna es poner 0 baths ya que se puede deber a propiedades inactivas o sin baños definidos, y esa respuesta ya existe
df.loc[:, 'bathrooms_text'] = df['bathrooms_text'].fillna('0 baths')
print(df['bathrooms_text'].isnull().sum())

0

In [66]:
# Columna 'bedrooms' con 1281 NAs
# Para tratar esta columna lo mejor es sustituirlo con la mediana que 1, ya que es mejor ante valores atípicos y mantendría una consistencia estadística.
df.loc[:, 'bedrooms']=df['bedrooms'].fillna(round(df['bedrooms'].median(),0))
print(df['bedrooms'].isnull().sum())

0

In [69]:
# Las columnas 'beds' con 5443 y 'beds.1' con 5443
# Ambas columnas cuentan con los mismos valores, por lo que en ambas se trataran los NAs con la mediana que es 1 que es robusta ante distribuciones sesgadas.
df.loc[:, 'beds']=df['beds'].fillna(round(df['beds'].mean(),1))
# Comprobar que los cambios se hayan realizado correctamente 
print(df['beds'].isnull().sum())

0

In [71]:
# Columna 'price' con  5388
# Rellenar con 0 ya que podría tratarse de residencias inactivas
df.loc[:, 'price'] = df['price'].fillna('0')
print(df['price'].isnull().sum())

0

In [72]:
# Columna 'has_availability' con 2231 NAs
# Para tratar esta esta columna se decidió agregar otro valor a la categoría de la varible, sustituyendo los NAs por f dando a entender que se tratan de propiedas inactivas
df.loc[:, 'has_availability'] = df['has_availability'].fillna('f')
print(df['has_availability'].isnull().sum())

0

In [73]:
# Columna 'estimated_revenue_l365d' con 5,388 valores nulos
# La mejor opción para sustituir los NAs es remplanzando por 0 ya que los valores representa los ingresos estimados en los últimos 365 días los que indica que los valores faltantes se pueden asumir a 0 por inactividad o sin reservas.
df.loc[:, 'estimated_revenue_l365d'] = df['estimated_revenue_l365d'].fillna(0)
print(df['estimated_revenue_l365d'].isnull().sum())

0

In [74]:
# Columna 'review_scores_rating','review_scores_cleanliness' y 'reviews_per_month'  con 9464 NAs
# Lo mejor para esta columna es sustituir los valores por 0 ya que coincide que los valores faltantes se presenten cuando no hay 'estimated_revenue_l365d' lo que indica que son inactivos y no debería tener calificación en esas variables.
df.loc[:,'review_scores_rating'] = df['review_scores_rating'].fillna(0)
df.loc[:,'review_scores_cleanliness'] = df['review_scores_cleanliness'].fillna(0)
df.loc[:,'reviews_per_month'] = df['reviews_per_month'].fillna(0)

print(df[['review_scores_rating', 'review_scores_cleanliness', 'reviews_per_month']].isnull().sum())

review_scores_rating         0
review_scores_cleanliness    0
reviews_per_month            0
dtype: int64

In [83]:
df['neighbourhood'].value_counts()

neighbourhood
Bangkok, Krung Thep Maha Nakhon, Thailand                   940
Khet Khlong Toei, Krung Thep Maha Nakhon, Thailand          900
Bangkok, Thailand                                           708
Khet Watthana, Krung Thep Maha Nakhon, Thailand             651
Watthana, Krung Thep Maha Nakhon, Thailand                  553
                                                           ...
Khlong Toei Nuea, Watthana, Bangkok, Thailand                 1
PRAKHANGONG, KHET PHRA KHANONG, Thailand                      1
Krung Thep Maha Nakhon, Chang Wat Samut Prakan, Thailand      1
Bang Na, Maha Nakhon Bangkok, Thailand                        1
Khlongtoey, Bangkok, Thailand                                 1
Name: count, Length: 622, dtype: int64

In [84]:
# Columnas 'neighbourhood' con 17849 NAs
# La mejor opción para tratar los NAs de esta columna es sustituirlos por la moda que es 'Bangkok, Thailand', ya que es la respuesta más común y representativa de la mayoría de los registros.
df.loc[:, 'neighbourhood'] = df['neighbourhood'].fillna('Bangkok, Thailand')

In [85]:
df.isnull().sum()

id                           0
name                         0
description                  0
neighbourhood_cleansed       0
latitude                     0
longitude                    0
host_id                      0
host_name                    0
host_since                   0
host_location                0
host_response_time           0
host_response_rate           0
host_acceptance_rate         0
host_is_superhost            0
host_listings_count          0
host_total_listings_count    0
host_has_profile_pic         0
host_identity_verified       0
neighbourhood                0
property_type                0
room_type                    0
accommodates                 0
bathrooms_text               0
bedrooms                     0
beds                         0
price                        0
minimum_nights               0
maximum_nights               0
minimum_minimum_nights       0
maximum_minimum_nights       0
minimum_maximum_nights       0
maximum_maximum_nights       0
minimum_nights_avg_ntm       0
maximum_nights_avg_ntm       0
has_availability             0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
calendar_last_scraped        0
number_of_reviews            0
number_of_reviews_ltm        0
number_of_reviews_l30d       0
number_of_reviews_ly         0
estimated_occupancy_l365d    0
estimated_revenue_l365d      0
review_scores_rating         0
review_scores_cleanliness    0
instant_bookable             0
reviews_per_month            0
dtype: int64

In [86]:
df.to_csv('Thailand_sin_NAs.csv')